{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock title %} | DeepFakeVidEval</title>
    <style>
        /* Ensure the footer stays at the bottom of the page */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content-wrapper {
            flex: 1;
        }
    </style>
</head>
<body class="dark:bg-gray-900">
    <nav class="dark:text-white py-6 px-6 w-full sm:flex flex-wrap justify-between items-center border-b border-gray-200">
        <a href="/" class="md:text-xl font-semibold text-orange-400">DeepFake Video Evaluator<span class="font-light"> | {{ request.user.username }}</span></a>
        <div class="md:flex md:space-x-6">
            {% if request.user.is_authenticated %}
                <div class="flex items-center justify-center space-x-6">
                    <a href="{% url 'core:public_videos' %}" class="px-6 py-3 text-lg font-bold bg-blue-500 text-white rounded-xl hover:bg-blue-600">Public Videos</a>
                    <a href="{% url 'core:logout' %}" class="px-6 py-3 text-lg font-bold bg-red-500 text-white rounded-xl hover:bg-red-600">Logout</a>
                </div>
            {% else %}
                <div class="flex items-center justify-center space-x-6">
                    <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-bold bg-teal-500 text-white rounded-xl hover:bg-teal-600">Sign up</a>
                    <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-bold bg-orange-500 text-white rounded-xl hover:bg-orange-600">Login</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="content-wrapper px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="py-6 px-6 flex justify-between bg-gray-800 text-white mt-auto">
        <div class="w-full pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About DeepFake Video Evaluator</h3>
            <p class="text-lg text-gray-500 break-words">
                DeepFake Video Evaluator is a comprehensive platform designed for generating and evaluating audio-driven deepfake videos. It allows users to create realistic video content using advanced AI algorithms, assess the quality and authenticity of generated videos based on predefined metrics, and manage video privacy settings. Our platform aims to facilitate research and development in deepfake technology while promoting ethical considerations and responsible usage.
            </p>
        </div>
    </footer>
</body>
</html>